// Secondary edit screen 
.mi_secondary {

	display: none;
	//display: block; 
	
	position: fixed; 
	right: 5px; 
	top: 45px; 
	bottom: 10px;
	width: 300px; 
	//height: 100%; 
	border: 1px solid #000; 
	@include border-radius(5px,5px,0px,0px);
	
	background-color: #f1f1f1; 
	z-index: 999;
	
	.inside {
		padding: 0px 0px 20px 50px; 
	}	
	.title {
			background: #fff;
			@include border-radius(5px,5px, 0px,0px); 		
		h2
		{

			text-align: center; 
			padding: 15px 10px; 
		}
		.close { 
			position: absolute; 
			top: 15px; 
			right: 10px; 
			
		}
	}

	h3 { 
		background: #ffffff none repeat scroll 0 0;
		border-bottom: 1px solid #dddddd;
		cursor: pointer;
		padding: 15px 10px;
		border-top: 1px solid #000; 
		border-bottom: 1px solid #000; 
		
	}
		
}


