@import "fullscreen";

.mib {

	$font-family: 'Roboto';
	.subscription {

		width: 45%;
		min-width: 640px;

		transform: translate(0%,0%);
		transform: translateY(-50%);
		left: 5%;
		@include bp(780)
		{
			min-width: 0;
			width: 100%;
			transform: none;
			left: 0;
			top: 25%;
		}
	}

	.mainheading{
	  font-family: $font-family;
	  font-size: 49px;
	  color: #fff;
	  margin-bottom: 40px;
	  text-align: left;
	}
	.subheading{
	  font-family: $font-family;
	  font-size: 21px;
	  color: #fff;
	  margin-bottom: 50px;
	  text-align: left;
	  line-height: 1.2;
	}



	.subscription-field{

		position: relative;
		width: 80%;
	}


	.input{
	  border-width: 0;
	  background-color: #fff;

	  font-size: 21px;
	  color: #000;
	  font-family: $font-family;
	  height: 50px;
	}


	.subscription .button{
		width: 150px;
		height: 50px;
		color: #fff;
		font-family: $font-family;
	}

	.subscription .button.button-agree{
		background-color: #2e3639;
		position: absolute;
		right: 0;
		top: 0;
	//	width:21rem;
	//	text-transform: uppercase;
	}
	.subscription .button.button-agree:hover{
	  background-color: #000;
	}

	.subscription-arrow
	{
		 .arrow_icon {
		 	border: 2px solid;
			border-color: #ffffff;
			color: #ffffff;
			background-color: transparent;
			border-radius: 50%;
			&:before {
				margin-top: 23px;
			}
		}
	}

	.after-submit
	{
		font-family: $font-family;
		color: #fff;
	}
}
